#sync2
  .owl-item
    width: 10px !important
    height: 10px
    background: #7d81a3
    border-radius: 50%
    margin: 0 6px
    &.synced
      background: #1c277a
  margin-top: 20px
  .owl-wrapper
    width: auto !important
    display: inline-block !important

.owl-controls
  display: none !important
  &.material-controls
    display: block !important

.owlwrapper
  position: relative
  text-align: center
  margin-top: 100px
  margin: 75px auto
  width: 703px

div
  &.owl-next, &.owl-prev
    visibility: hidden

.owl-item img
  width: 78%
  border-radius: 30px
  /*box-shadow: 0px 1px 10px black;

.owl-prev, .owl-next
  position: absolute !important

button
  z-index: 99999999999 !important
  color: grey !important

.slide-text
  position: absolute
  bottom: 45px
  left: 0
  right: 0
  margin: 0 auto
  h2
    color: white
    font-size: 22px
    margin: 0 0 5px 0
  p
    color: white
    font-size: 18px
    font-weight: 200
    margin: 0 0 50px 0

body
  background: #bdbdbd

nav
  background-color: #606799

.owl-prev
  top: 42%
  left: -70px

.owl-next
  top: 42%
  right: -70px

i
  color: #1c277a !important

@media (min-width: 870px)
  .owl-item img
    width: auto

@media (max-width: 869px)
  .owl-prev
    left: -19px
  .owl-next
    right: -19px

@media (max-width: 809px)
  .owlwrapper
    width: 100%

@media (max-width: 809px)
  .slide-text
    h2
      font-size: 17px
    p
      font-size: 13px
      margin: 0 0 15px 0