<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center middle-indicator">
    <div class="left">
      <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text" style="font-size: 65px" >chevron_left</i></a>
     </div>
     
     <div class="right">
     <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text" style="font-size: 65px">chevron_right</i></a>
     </div>
  </div>
  <div class="carousel-item white-text" style="background-color: #000000;" href="#one!">
    <img class="d-block w-100 responsive-img" src="{{site.baseurl}}/assets/images/paintings/pic-1.jpg" alt="First slide">
  </div>
  <div class="carousel-item white-text" style="background-color: #000000;" href="#two!">
    <img class="d-block w-100 responsive-img" src="{{site.baseurl}}/assets/images/paintings/pic-2.jpg" alt="Second slide">
  </div>
  <div class="carousel-item white-text" style="background-color: #000000;" href="{{site.project_three_url}}">
    <img class="d-block w-100 responsive-img" src="{{site.baseurl}}/assets/images/paintings/pic-3.jpg" alt="Third slide">
  </div>
  <div class="carousel-item white-text" style="background-color: #000000;" href="{{site.project_four_url}}">
    <img class="d-block w-100 responsive-img" src="{{site.baseurl}}/assets/images/paintings/pic-4.jpg" alt="Fourth slide">
  </div>
</div>
